:root {
  --parchment: hsl(45, 53%, 88%);
  --writing: hsl(0, 92%, 25%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  min-height: 100vh;
  color: var(--writing);
  background-color: var(--parchment);
  font-family:'Modern Antiqua', 'Times New Roman', 'Serif';
}

header {
  margin-bottom: 1.5em;
}

header h1 {
  font-size: 48px;
}

header hr {
  border-top: 2px solid var(--writing);
}

div.book {
  position: absolute;
  inset: 30px;
  background-image: url("../img/spellbookBGECrawl.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 658px;
  min-width: 1023px;
}

div.content {
  display: flex;
}

div.dice_inputs {
  width: 50%;
  display: grid;
}

div.dice_resuls {
  width: 50%;
}